/*

Rule - Selector, Descriptor

*/

body {
    margin: 2px auto;
    width: 40%;
    border: 2px solid black;
    align-items:center;
}

.breathVertical {
    margin-top:10px;
    margin-bottom:10px;
}


.breathHorizontal , #new_todo_input {
    margin-left:60px;
    margin-right:30px;
}

div.todoStatusACTIVE {

    color : black;
}


div.todoStatusCOMPLETE{
    color : green;
    text-decoration : line-through;
}

div.todoStatusDELETED {
    color : red;
    text-decoration : line-through;
    margin-left: 85px;

}

button#delete{
    color: red;
    background: transparent;
    border: transparent;
    float: right;
    margin-right: 130px;
}


input#checkbox {
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #1e90ff;
    padding: 10px;
    border-radius: 3px;
    position: relative;
    float: left;
}

input#checkbox:checked {
    background-color: #1e90ff;
}

input#checkbox:checked:after {
    content: '\2714';
    font-size: 15px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: white;
}

#add_todo {
    color: grey;
}

#new_todo_input {
    border-color: transparent;
    border-bottom: 1px solid grey;
}

#add_button {
    background-color: #87cefa;
    border-color: transparent;
    border-radius: 3px;
    font-size: 20px;
}

h1 {
    background-color: #eee8aa;
    text-align: center;
}
h3 {
  margin-left: 30px;
}

hr {
    border: 2px solid black ;
}